<html>

<head>
    <title>Código CSS - Entendendo a folha de estilos</title>
</head>

<body>
    <h1 style="font-style: italic;">Welcome#index</h1>

    
    <p class="form-field  first_name pd-text required    ">

        <label class="field-label" for="186122_3283pi_186122_3283">First Name</label>


        <input type="text" name="186122_3283pi_186122_3283" id="186122_3283pi_186122_3283" 
        value="" class="text" size="30" maxlength="40" onchange="">

    </p>
    <a class = "submit"></a>
    <p class="submit">
        <input type="submit" accesskey="s" value="Submit">
        
    </p>
    <p style="color:red;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ultrices feugiat ullamcorper. Cras ut tristique velit. Fusce euismod turpis at lorem vestibulum malesuada. Mauris porttitor sem vitae leo tincidunt varius. Nunc vulputate interdum sem,
        eu semper metus suscipit ut. Sed eget ante metus. Fusce leo ante, aliquam in sagittis id, auctor quis turpis. Donec vitae magna quis mi dignissim auctor quis eget augue.</p>

</body>

</html>


Read more: http://www.linhadecodigo.com.br/artigo/3613/codigo-css-entendendo-a-folha-de-estilos.aspx#ixzz4NDehSyJV


<p>Find me in app/views/welcome/index.html.erb</p><br>
<p>Hello Kita</p>
