<!--<h1>Home#index</h1> 
<p>Find me in app/views/home/index.html.erb</p><br>
<p>Trabalhe Alex</p>
<a href="/consulta/index">GO</a>
-->    
<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Uwell</a>
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Planos</a></li>
          <li><a href="#">Contato</a></li>
          <li><a href ="/consulta/index">Log in</a></li>
          <li><a href ="#">Sign up</a></li>
          
        </ul>
      </div>
    </div>
   
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    
   
    <div class="item first">
      <img src="https://tempocomcristo.files.wordpress.com/2014/10/familia-feliz.jpg" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    
    <div class="item">
      <img src="http://revistaapolice.com.br/wp-content/uploads/2015/12/gerenciamento-de-riscos-sa%C3%BAde.jpg" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">O que é Uwell Health Care?</h3>
    Uma plataforma integrada com a proposta de unificar os dados do medico e do paciente,
    para melhoria do atendimento.
  </div>
  <div class="panel-body">
  <h3>Sua saúde na sua mão</h3>
  
  </div>
</div>
    
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
    
   
