<html>
<h1>Ola medico</h1>
    <p class="form-field  first_name pd-text required    ">

        <label class="field-label" for="186122_3283pi_186122_3283">CPF do Paciente</label>


        <input type="text" name="186122_3283pi_186122_3283" id="186122_3283pi_186122_3283" 
        value="" class="text" size="30" maxlength="40" onchange="">
        

    </p>
    <a class = "look" href="/paciente/index">
    <p class="look">
        
        <input type="look" accesskey="l" value="Buscar">
    </p>

</html>